div > input:first-child {
	width: 228px;
	height: 40px;
	font-size: 27px;
	border: 1px black solid;
	padding: 0;
	margin-top: -2px;
}

.additional {
	display: inline;
}

.a-inputs {
	width: 50px;
}

.fa {
	line-height: 40px;
	text-align: center;
}

button {
	margin:0;
	border: 1px solid black;
	width: 42px;
	height: 42px;
	padding: 0;
}

.title {
	text-align: center;
	margin: 0 auto;
	width: 400px;
}

h1 {
	font-size: 76px;
	display: inline;
}

h2 {
	font-size: 56px;
	margin: 0;
	letter-spacing: 10px;
}

h4 {
	margin-top: 0;	
	letter-spacing: 10px;
}

img {
	display: inline;
	width: 72px;
	vertical-align: bottom;
}

.search-box {
	padding-top: 20px;
	text-align: center;
	margin: 0 auto;
	width: 400px;
}

.search {
	margin-bottom: 20px;
}

.item {
	list-style: none;
	margin-bottom: 20px;
	border: 1px solid gray;
	width: 29%;
	vertical-align: -webkit-baseline-middle;
	margin-left: 25px;
	border-radius: 20px;
	padding: 10px;
	word-wrap: break-word;
	display: inline-block;
}

li > img {
	margin: 10px;
	border-radius: 8px;
	position:relative;
}

.info {
	display: block;
	font-weight: bold;
}

ul {
	margin: 0 auto;
	margin-top: 30px;
}

a {
	line-height: 92px;
	/* Add ellipsis at the end if text does not fit in given width */
    text-overflow: ellipsis;
    /* Have to add this line to make upper line work */
    overflow: hidden;
    /* Decide what is the longest link width in given units (px, em, rem etc.) */
    max-width: 200px;
    /* Element has to be inline-block to have width and fit inline in the same time */
    display: inline-block;
    /* We want to have all the link in one line without wrapping */
    white-space: nowrap;
}

.text {
	font-weight: normal;
}